@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
    
}

::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: rgb(36, 33, 33);
    font-family: inherit;
}